@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


:root {
    --Navbar-color: #002D62;
    --Background-color: #F0F8FF;

    --MainCard-color: #7CB9E8;
    --LeftCard-color: #72A0C1;
    --BottomCard-color: #6CB4EE;
    --BottomLeftCard-color: #0066b2;

    --navBar-font: 'Montserrat', sans-serif;
    --home-font: 'Reem Kufi Fun', cursive;
    --main-font: 'Poiret One', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

